
<html>
<body>

<br/><br/>
<link href="fale_conosco.css" rel="stylesheet" type="text/css">

<div class="evsof_mensagem">
    <img src="/theme/image.php?theme=sof&amp;image=icone_sucesso&amp;component=theme" alt="Sua mensagem foi encaminhada com sucesso!" title="Sua mensagem foi encaminhada com sucesso!" align="left">
    <p>Sua mensagem foi encaminhada com sucesso!<br /><br />
	Escola Virtual SOF
	Secretaria de Orçamento Federal (SOF)
	Ministério do Planejamento, Orçamento e Gestão
    </p>
</div>

</body>
</html>